:root{
    --white: #FFFFFF;
    --black:   #000000:
    --dark:  #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green:  #ACD982;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}